In [1]:
import pandas as pd
import numpy as np

In [8]:
#niveis de Ã­ndice
outside = ['G1','G1','G1','G2','G2','G2',]
inside = [1,2,3,1,2,3]

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [10]:
hier_index = list(zip(outside,inside))

In [11]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [12]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [16]:
df = pd.DataFrame(np.random.rand(6,2),index=hier_index)

In [17]:
df

             0         1
G1 1  0.181604  0.218687
   2  0.902072  0.325135
   3  0.453308  0.289327
G2 1  0.219043  0.021493
   2  0.495642  0.785433
   3  0.263491  0.014739

In [20]:
df = pd.DataFrame(np.random.rand(6,2),index=hier_index, columns=['A','B'])

In [21]:
df

             A         B
G1 1  0.179799  0.692232
   2  0.846218  0.808183
   3  0.067974  0.381156
G2 1  0.571664  0.319395
   2  0.395174  0.047261
   3  0.605083  0.435952

In [22]:
df.loc['G1']

          A         B
1  0.179799  0.692232
2  0.846218  0.808183
3  0.067974  0.381156

In [25]:
df.loc['G1'].loc[1] #series da linha indice 1 do grupo G1

A    0.179799
B    0.692232
Name: 1, dtype: float64

In [26]:
df.index.names=['Grupos','Numero']

In [28]:
df

                      A         B
Grupos Numero
G1     1       0.179799  0.692232
       2       0.846218  0.808183
       3       0.067974  0.381156
G2     1       0.571664  0.319395
       2       0.395174  0.047261
       3       0.605083  0.435952

In [32]:
#selecinar dados no DF multinivel
df.xs('G1')

               A         B
Numero
1       0.179799  0.692232
2       0.846218  0.808183
3       0.067974  0.381156

In [33]:
df.xs('G2')

               A         B
Numero
1       0.571664  0.319395
2       0.395174  0.047261
3       0.605083  0.435952

In [37]:
df.xs(1,level='Numero') #seleciona somente o a linha com o nome "1", mas Ã© necessÃ¡rio especificar o nome do nÃ­vel, no caso "Numero"

               A         B
Grupos
G1      0.179799  0.692232
G2      0.571664  0.319395