In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [10]:
df = pd.DataFrame(data=np.random.randn(5,4),index = 'A B C D E'.split(),columns='W X Y Z'.split())

In [12]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [16]:
df[['W','Z']]

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [30]:
df['New']=df['W']+df['Z'] #criar uma nova coluna

In [20]:
df

          W         X         Y         Z       New
A  0.386030  2.084019 -0.376519  0.230336  0.616367
B  0.681209  1.035125 -0.031160  1.939932  2.621142
C -1.005187 -0.741790  0.187125 -0.732845 -1.738032
D -1.382920  1.482495  0.961458 -2.141212 -3.524132
E  0.992573  1.192241 -1.046780  1.292765  2.285338

In [24]:
df.drop('New',axis=1) #para apagar uma coluna

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [25]:
df #o new não some

          W         X         Y         Z       New
A  0.386030  2.084019 -0.376519  0.230336  0.616367
B  0.681209  1.035125 -0.031160  1.939932  2.621142
C -1.005187 -0.741790  0.187125 -0.732845 -1.738032
D -1.382920  1.482495  0.961458 -2.141212 -3.524132
E  0.992573  1.192241 -1.046780  1.292765  2.285338

In [31]:
df.drop('New',axis=1, inplace=True) #ao colocar o metodo inplace=True, ele faz a operação na variável que está na memoria e a atualiza com o resultado

In [32]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [35]:
df.loc['A','W'] #endereço do um item específico baseado nos indices, linhas e colunas, parecido com o Numpy (mais simples na minha opinião)

0.3860303121135517

In [36]:
df.loc[['A','B'],['Y','Z']]#endereço do um item específico baseado nos indices, linhas e colunas, parecido com o Numpy (mais simples na minha opinião)

          Y         Z
A -0.376519  0.230336
B -0.031160  1.939932

In [39]:
df.iloc[0:2,2:] #mesmo resultado da notação acima, porém utilizando o iloc que pede a mesma notação de endereçamento do numpy

          Y         Z
A -0.376519  0.230336
B -0.031160  1.939932